Fabric==1.8.0
Flask==0.10.1
Jinja2==2.7.1
Werkzeug==0.9.4
boto==2.9.9
distribute==0.6.19
docutils==0.11
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.4
hiredis==0.1.1
ipython==1.0.dev
lxml==3.2.1
py==1.4.17
pytest==2.4.2
python-dateutil==1.5
pytz==2012d
pyzmq==13.1.0
readline==6.2.4.1
redis==2.8.0
requests==2.0.0
tornado==2.4.1
uWSGI==1.9.6
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1